<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
	<module name="TreeWalker">
		<module name="EmptyBlock">
			<clientProperty name="severity" value="warning" />
		</module>
		<module name="EmptyCatchBlock">
			<clientProperty name="severity" value="warning" />
		</module>
		<module name="EqualsAvoidNull">
			<clientProperty name="severity" value="warning" />
		</module>
		<module name="MagicNumber">
			<clientProperty name="severity" value="error" />
			<clientProperty name="ignoreAnnotation" value="true" />
			<clientProperty name="ignoreFieldDeclaration" value="true" />
			<clientProperty name="ignoreHashCodeMethod" value="true" />
			<clientProperty name="ignoreNumbers" value="-1, 0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 14, 15, 20, 30, 40, 50, 100, 120, 200, 300, 500, 600, 1000, 10000" />
			<clientProperty name="tokens" value="NUM_INT, NUM_LONG" />
		</module>
		<module name="UnusedImports">
			<clientProperty name="severity" value="error" />
		</module>
		<module name="JavadocMethod">
			<clientProperty name="severity" value="error" />
			<clientProperty name="scope" value="public" />
			<clientProperty name="allowMissingParamTags" value="true" />
		</module>
		<module name="JavadocType">
		   <clientProperty name="authorFormat" value="\S"/>
		</module>
	</module>
</module>